*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #FBFBFE;
  --primary-color: #DEDCFF;
  --secondary-color: #433BFF;
  --text-color: #1E1E1E;
  --accent-color: #2F27CE;

}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

body {
  font-family: 'Poppins';
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}
